<div class="alert alert-block alert-danger">
<b>Comentario del revisor (2da Iteracion)</b> <a class=‚ÄútocSkip‚Äù></a>

Muy buen avance Keyla! S√≥lo hace falta una correcci√≥n en el paso 4 para que tu proyecto est√© completo, te he dejado m√°s detalles en el ejercicio
</div>

Hola **Keyla**!

Soy **Patricio Requena** üëã. Es un placer ser el revisor de tu proyecto el d√≠a de hoy!

Revisar√© tu proyecto detenidamente con el objetivo de ayudarte a mejorar y perfeccionar tus habilidades. Durante mi revisi√≥n, identificar√© √°reas donde puedas hacer mejoras en tu c√≥digo, se√±alando espec√≠ficamente qu√© y c√≥mo podr√≠as ajustar para optimizar el rendimiento y la claridad de tu proyecto. Adem√°s, es importante para m√≠ destacar los aspectos que has manejado excepcionalmente bien. Reconocer tus fortalezas te ayudar√° a entender qu√© t√©cnicas y m√©todos est√°n funcionando a tu favor y c√≥mo puedes aplicarlos en futuras tareas. 

_**Recuerda que al final de este notebook encontrar√°s un comentario general de mi parte**_, empecemos!

Encontrar√°s mis comentarios dentro de cajas verdes, amarillas o rojas, ‚ö†Ô∏è **por favor, no muevas, modifiques o borres mis comentarios** ‚ö†Ô∏è:


<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class=‚ÄútocSkip‚Äù></a>
Si todo est√° perfecto.
</div>

<div class="alert alert-block alert-warning">
<b>Comentario del revisor</b> <a class=‚ÄútocSkip‚Äù></a>
Si tu c√≥digo est√° bien pero se puede mejorar o hay alg√∫n detalle que le hace falta.
</div>

<div class="alert alert-block alert-danger">
<b>Comentario del revisor</b> <a class=‚ÄútocSkip‚Äù></a>
Si de pronto hace falta algo o existe alg√∫n problema con tu c√≥digo o conclusiones.
</div>

Puedes responderme de esta forma:
<div class="alert alert-block alert-info">
<b>Respuesta del estudiante</b> <a class=‚ÄútocSkip‚Äù></a>
</div>



Todav√≠a desempe√±√°ndote como miembro del equipo anal√≠tico, en el primer proyecto hemos sentado las bases para la segunda fase. ¬°Hemos llegado! Ahora aplicar√°s t√©cnicas avanzadas para extraer datos significativos, atendiendo a las crecientes necesidades del cliente.

Como sabes, las empresas recopilan y almacenan datos de una forma particular. Store 1 quiere almacenar toda la informaci√≥n de sus clientes en una tabla.


| user_id | user_name | user_age | purchase_category | spending_per_category |
| --- | --- | --- | --- | --- |
| '32415' | 'mike', 'reed' | 32 | 'electronics', 'sport', 'books' | 894, 213, 173 |
| '31980' | 'kate', 'morgan' | 24 | 'clothes', 'shoes' | 439, 390 |

En t√©rminos t√©cnicos, una tabla es simplemente una lista anidada que contiene una sublista para cada usuario o usuaria.

Store 1 ha creado una tabla de este tipo para sus usuarios. Est√° almacenada en la variable "users". Cada sublista contiene el ID del usuario, nombre y apellido, edad, categor√≠as favoritas y el importe gastado en cada categor√≠a.

-	**user_id:** el identificador √∫nico para cada usuario.
-	**user_name:** el nombre de usuario.
-	**user_age:** la edad del usuario.
-	**fav_categories:** las categor√≠as de art√≠culos comprados por el usuario, como 'ELECTRONICS', 'SPORT', 'BOOKS', etc.
-	**total_spendings:** la lista de enteros que indican la cantidad gastada en cada una de sus categor√≠as favoritas.

In [1]:
users = [
    ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]],
    ['31980', 'kate morgan', 24.0, ['CLOTHES', 'BOOKS'], [439, 390]],
    ['32156', ' john doe ', 37.0, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]],
    ['32761', 'SAMANTHA SMITH', 29.0, ['CLOTHES', 'ELECTRONICS', 'BEAUTY'], [299, 679, 85]],
    ['32984', 'David White', 41.0, ['BOOKS', 'HOME', 'SPORT'], [234, 329, 243]],
    ['33001', 'emily brown', 26.0, ['BEAUTY', 'HOME', 'FOOD'], [213, 659, 79]],
    ['33767', ' Maria Garcia', 33.0, ['CLOTHES', 'FOOD', 'BEAUTY'], [499, 189, 63]],
    ['33912', 'JOSE MARTINEZ', 22.0, ['SPORT', 'ELECTRONICS', 'HOME'], [259, 549, 109]],
    ['34009', 'lisa wilson ', 35.0, ['HOME', 'BOOKS', 'CLOTHES'], [329, 189, 329]],
    ['34278', 'James Lee', 28.0, ['BEAUTY', 'CLOTHES', 'ELECTRONICS'], [189, 299, 579]],
]

# Paso 1

En la √∫ltima tarea de la primera parte de este proyecto escribiste c√≥digo para:

1. Eliminar todos los espacios iniciales y finales de los nombres, as√≠ como cualquier guion bajo.
2. Convertir todas las edades en n√∫meros enteros.
3. Separar todos los nombres y apellidos en una sublista.

Hag√°moslo ahora una funci√≥n para que podamos usarla para fijar a cualquier cliente. Nombra a tu funci√≥n `clean_user`. Debe recibir una lista con toda la informaci√≥n del cliente (user_info), as√≠ como dos enteros. Uno de ellos se√±ala el √≠ndice del nombre del cliente y el otro es el √≠ndice de la edad del cliente en la lista. Debe devolver la lista limpia despu√©s de aplicar todos los cambios anteriores. Pru√©bala llam√°ndola, pas√°ndole la lista `test_user[]` y luego mu√©strala en pantalla.

In [2]:
def clean_user(user, name_index, age_index):

    # Paso 1: elimina del nombre espacios iniciales y finales, as√≠ como guiones
    user_name_1 = user[name_index].strip().replace('_', ' ')

    # Paso 2: convierte la edad en entero
    user_age_1 = int(user[age_index])

    # Paso 3: separa el nombre y el apellido en una sublista
    user_name_1 = user_name_1.split()

    # Prepara la lista con la informaci√≥n completa del usuario
    # Reemplaza el nombre y la edad originales con los datos limpios
    user[name_index] = user_name_1
    user[age_index] = user_age_1

    return user

# Prueba la funci√≥n
test_user = ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]]
name_index = 1
age_index = 2

print(clean_user(test_user, name_index, age_index))

['32415', ['mike', 'reed'], 32, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]]

<div class="alert alert-block alert-success">
<b>Comentario del revisor (1ra Iteracion)</b> <a class=‚ÄútocSkip‚Äù></a>

Perfecto! Bien hecho el armado y llamado a la funci√≥n. Aplicaste las operaciones correctas sobre las variables adecuadas sin perder el progreso entre l√≠nea y l√≠nea
</div>

********Pista********

Para implementar la funci√≥n `clean_user`, efect√∫a los siguientes pasos:

1. **Recortar y reemplazar:** utiliza `strip()` para eliminar espacios iniciales y finales del nombre del usuario y `replace('_', ' ')` para eliminar guiones bajos con espacios.
2. **Convertir la edad:** convierte la edad en entero utilizando la funci√≥n `int()`.
3. **Separar el nombre:** utiliza el m√©todo `split()` para separar el nombre y el apellido, creando una sublista.

Aseg√∫rate de modificar la lista `user_info` que aparece actualizando el nombre y la edad con los datos limpios antes de devolver la lista. Prueba tu funci√≥n con un usuario de ejemplo para verificar que funciona correctamente.

# Paso 2

Observa que todas las categor√≠as favoritas est√°n almacenadas en may√∫sculas. Llena una nueva lista llamada `fav_categories_low` con las mismas categor√≠as, pero en min√∫sculas, iterando sobre los valores en la lista `fav_categories`, modific√°ndolos y luego a√±ade los nuevos valores a la lista `fav_categories_low`. Como siempre, muestra el resultado final.

In [3]:
fav_categories = ['ELECTRONICS', 'SPORT', 'BOOKS']
fav_categories_low = []

for value in fav_categories:
    fav_categories_low.append(value.lower())

print(fav_categories_low)

['electronics', 'sport', 'books']

<div class="alert alert-block alert-success">
<b>Comentario del revisor (1ra Iteracion)</b> <a class=‚ÄútocSkip‚Äù></a>

Muy bien aplicado el uso del bucle for para cambiar a min√∫sculas las categor√≠as
</div>

********Pista********

Crea un bucle `for` que itere sobre la lista `fav_categories`. Utiliza el m√©todo `lower()` para transformar cada categor√≠a a min√∫sculas. Luego, utiliza el m√©todo `append()` para agregar los valores actualizados a la lista `fav_categories_low`.

# Paso 3

Ahora hagamos lo mismo, pero para cada uno de los usuarios de la empresa. Llena una lista nueva llamada `users_categories_low` con los mismos usuarios, pero con sus categor√≠as en min√∫sculas, iterando sobre los valores en la lista `users`, luego itera sobre los valores en `user_categories`, modific√°ndolos, y despu√©s agrega los nuevos valores de usuarios a la lista `users_categories_low`. Como siempre, muestra el resultado final.

In [4]:
users = [
    ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]],
    ['31980', 'kate morgan', 24.0, ['CLOTHES', 'BOOKS'], [439, 390]],
    ['32156', ' john doe ', 37.0, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]],
    ['32761', 'SAMANTHA SMITH', 29.0, ['CLOTHES', 'ELECTRONICS', 'BEAUTY'], [299, 679, 85]],
    ['32984', 'David White', 41.0, ['BOOKS', 'HOME', 'SPORT'], [234, 329, 243]],
    ['33001', 'emily brown', 26.0, ['BEAUTY', 'HOME', 'FOOD'], [213, 659, 79]],
    ['33767', ' Maria Garcia', 33.0, ['CLOTHES', 'FOOD', 'BEAUTY'], [499, 189, 63]],
    ['33912', 'JOSE MARTINEZ', 22.0, ['SPORT', 'ELECTRONICS', 'HOME'], [259, 549, 109]],
    ['34009', 'lisa wilson ', 35.0, ['HOME', 'BOOKS', 'CLOTHES'], [329, 189, 329]],
    ['34278', 'James Lee', 28.0, ['BEAUTY', 'CLOTHES', 'ELECTRONICS'], [189, 299, 579]],
]
users_categories_low = []

for user in users:
    user_copy = user.copy()
    categories_low = []
    for category in user_copy[3]:
        categories_low.append(category.lower())
    user_copy.pop(3)
    user_copy.insert(3, categories_low)
    
    users_categories_low.append(user_copy)

print(users_categories_low)

[['32415', ' mike_reed ', 32.0, ['electronics', 'sport', 'books'], [894, 213, 173]], ['31980', 'kate morgan', 24.0, ['clothes', 'books'], [439, 390]], ['32156', ' john doe ', 37.0, ['electronics', 'home', 'food'], [459, 120, 99]], ['32761', 'SAMANTHA SMITH', 29.0, ['clothes', 'electronics', 'beauty'], [299, 679, 85]], ['32984', 'David White', 41.0, ['books', 'home', 'sport'], [234, 329, 243]], ['33001', 'emily brown', 26.0, ['beauty', 'home', 'food'], [213, 659, 79]], ['33767', ' Maria Garcia', 33.0, ['clothes', 'food', 'beauty'], [499, 189, 63]], ['33912', 'JOSE MARTINEZ', 22.0, ['sport', 'electronics', 'home'], [259, 549, 109]], ['34009', 'lisa wilson ', 35.0, ['home', 'books', 'clothes'], [329, 189, 329]], ['34278', 'James Lee', 28.0, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

********Pista********

Crea un bucle `for` que itere sobre la lista `users`. Luego crea otro bucle `for` que itere sobre las categor√≠as de usuarios para acceder al usuario y modificarlo. Utiliza el m√©todo `lower()` para transformar cada categor√≠a a min√∫sculas. Luego, modifica al usuario eliminando la lista de categor√≠as anteriores con `pop()` y con `insert()` inserta la nueva en su lugar. A continuaci√≥n utiliza el m√©todo `append()` para agregar a los usuarios actualizados a la lista `users_categories_low`.

<div class="alert alert-block alert-success">
<b>Comentario del revisor (1ra Iteracion)</b> <a class=‚ÄútocSkip‚Äù></a>

Buen trabajo! Obtuviste la nueva lista con las correcciones aplicadas en el bucle for
</div>

# Paso 4

Ahora, completemos el c√≥digo de nuestra funci√≥n `clean_user` para limpiar la categor√≠a:
1. A√±ade otro par√°metro con el √≠ndice de categor√≠as.
2. Pon todos los nombres en min√∫sculas antes de aplicar "strip" y "replace".

Despu√©s, crea un bucle y aplica tu funci√≥n a toda la lista de usuarios, agregando tus resultados a la lista `users_clean`. Despu√©s mu√©stralo

In [5]:
def clean_user(user_info, name_index, age_index, cat_index):

  # Paso 1: pon todo en min√∫sculas y elimina del nombre espacios iniciales y finales, as√≠ como guiones
    user_name_1 = user_info[name_index].lower().replace("_","").strip()

  # Paso 2: convierte la edad en entero
    user_age_1 = int(user_info[age_index])

  # Paso 3: separa el nombre y el apellido en una sublista
    user_name_1 = user_info[name_index].split("_")

  # Paso 4: convierte las categor√≠as en min√∫sculas
    categories_low = []

    for category in user_info[cat_index]:
        categories_low.append(category.lower())    
              
  # Prepara la lista con la informaci√≥n completa del usuario
  # Reemplaza el nombre y la edad originales con los datos limpios
  # escribe tu c√≥digo aqu√≠
    
    user_info[name_index] = user_name_1
    user_info[age_index] = user_age_1
    user_info[cat_index] = categories_low
 
    return user_info

users = [
    ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]],
    ['31980', 'kate morgan', 24.0, ['CLOTHES', 'BOOKS'], [439, 390]],
    ['32156', ' john doe ', 37.0, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]],
    ['32761', 'SAMANTHA SMITH', 29.0, ['CLOTHES', 'ELECTRONICS', 'BEAUTY'], [299, 679, 85]],
    ['32984', 'David White', 41.0, ['BOOKS', 'HOME', 'SPORT'], [234, 329, 243]],
    ['33001', 'emily brown', 26.0, ['BEAUTY', 'HOME', 'FOOD'], [213, 659, 79]],
    ['33767', ' Maria Garcia', 33.0, ['CLOTHES', 'FOOD', 'BEAUTY'], [499, 189, 63]],
    ['33912', 'JOSE MARTINEZ', 22.0, ['SPORT', 'ELECTRONICS', 'HOME'], [259, 549, 109]],
    ['34009', 'lisa wilson ', 35.0, ['HOME', 'BOOKS', 'CLOTHES'], [329, 189, 329]],
    ['34278', 'James Lee', 28.0, ['BEAUTY', 'CLOTHES', 'ELECTRONICS'], [189, 299, 579]],
]

name_index = 1
age_index = 2
cat_index = 3
users_cleaned = []

for user in users:
    user_cleaned = clean_user(user, name_index, age_index, cat_index)
    users_cleaned.append(user_cleaned)

print(users_cleaned)

[['32415', [' mike', 'reed '], 32, ['electronics', 'sport', 'books'], [894, 213, 173]], ['31980', ['kate morgan'], 24, ['clothes', 'books'], [439, 390]], ['32156', [' john doe '], 37, ['electronics', 'home', 'food'], [459, 120, 99]], ['32761', ['SAMANTHA SMITH'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]], ['32984', ['David White'], 41, ['books', 'home', 'sport'], [234, 329, 243]], ['33001', ['emily brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]], ['33767', [' Maria Garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]], ['33912', ['JOSE MARTINEZ'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]], ['34009', ['lisa wilson '], 35, ['home', 'books', 'clothes'], [329, 189, 329]], ['34278', ['James Lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

In [6]:
users[1]

['31980', ['kate morgan'], 24, ['clothes', 'books'], [439, 390]]

<div class="alert alert-block alert-danger">
<b>Comentario del revisor (1ra Iteracion)</b> <a class=‚ÄútocSkip‚Äù></a>

por favor, completa este ejercicio. Es la combinaci√≥n de los pasos anteriores.
</div>

<div class="alert alert-block alert-danger">
<b>Comentario del revisor (2da Iteracion)</b> <a class=‚ÄútocSkip‚Äù></a>

Si revisas el resultado puedes observar que `mike_reed` contin√∫a igual, esto debido al √≥rden en el que est√°s aplicando strip y replace, en el paso 1 est√°s aplicando el replace, pero luego en el paso 3 est√°s usando strip sin considerar los cambios antes realizados. Si ya realizaste un cambio y lo guardaste en la variable user_name_1 debes seguir usando esa misma variable en paso 3 de lo contrario es c√≥mo que nunca aplicaste el replace
</div>

********Pista********

Efect√∫a los siguientes pasos para implementar la funci√≥n `clean_user`:

1. **Copia y adapta:** copia el c√≥digo de tu funci√≥n anterior `clean_user`.

2. **Pon el nombre en min√∫sculas:** antes de aplicar `split()` y `replace()`, aplica `lower()` al nombre del cliente.

3. **Procesa las categor√≠as:** agrega una secci√≥n nueva para gestionar las categor√≠as. Pon cada categor√≠a de la lista en min√∫sculas y almac√©nalas en una nueva lista.

4. **Ejecuta tu c√≥digo:** aseg√∫rate de que la funci√≥n `clean_user` actualice la lista `user_info` con el nombre, edad y categor√≠as limpias. Haz un bucle en la lista `users` y llama a la funci√≥n `clean_user`, pasando el usuario, `name_index`, `age_index` y `cat_index` para especificar los √≠ndices correctos para el nombre, la edad y las categor√≠as, respectivamente.

5. Guarda cada nuevo usuario limpio en la lista nueva `users_cleaned`.

Muestra en pantalla la lista `users_cleaned` para asegurarte de que tu c√≥digo realiza las respectivas transformaciones.

# Paso 5

La empresa desea conocer sus ingresos totales y te pide que proporciones este valor.
Para calcular los ingresos de la empresa, sigue estos pasos:

1. Utiliza `for` para iterar sobre la lista `users`.
2. Extrae la lista de gastos de cada usuario y suma los valores.
3. Actualiza el valor de los ingresos con el total de cada usuario.

As√≠ obtendr√°s los ingresos totales de la empresa que mostrar√°s en la pantalla al final.

In [7]:
users = [['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
         ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
         ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
         ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
         ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
         ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
         ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
         ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
         ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
         ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

revenue = 0

for user in users:
    spendings_list = user[4]
    print(spendings_list)

for user in users:
    spendings_list = user[4]
    revenue += sum(spendings_list)

print(f"Total revenue: {revenue}")

[894, 213, 173]
[439, 390]
[459, 120, 99]
[299, 679, 85]
[234, 329, 243]
[213, 659, 79]
[499, 189, 63]
[259, 549, 109]
[329, 189, 329]
[189, 299, 579]
Total revenue: 9189

********Pista********

Para extraer la lista de gastos realizados por un usuario, utiliza la indexaci√≥n y as√≠gnala a la variable `spendings_list`. Luego, utiliza la funci√≥n integrada para calcular la suma de `spending_list`. Por √∫ltimo, actualiza el valor de `revenue` a√±adi√©ndole  `total_spendings` mediante la asignaci√≥n aumentada.

# Paso 6

La empresa quiere ofrecer descuentos a sus clientes leales. Los clientes que realizan compras por un importe total mayor a $1500 se consideran leales y recibir√°n un descuento.

Nuestro objetivo es crear un bucle `while` que compruebe el importe total gastado y se detenga al alcanzarlo. Para simular nuevas compras, la variable `new_purchase` genera un n√∫mero entre 30 y 80 en cada iteraci√≥n del bucle. Esto representa la cantidad de dinero gastada en una nueva compra y es lo que debes agregar al total.

Una vez que se alcance el importe objetivo y se termine el bucle `while`, se mostrar√° la cantidad final.

In [8]:
from random import randint

total_amount_spent = 1280
target_amount = 1500

while total_amount_spent < target_amount:
	new_purchase = randint(30, 80) # generamos un n√∫mero aleatorio de 30 a 80
	total_amount_spent += new_purchase

print(total_amount_spent)

1504

<div class="alert alert-block alert-success">
<b>Comentario del revisor (1ra Iteracion)</b> <a class=‚ÄútocSkip‚Äù></a>

Perfecto! Bien usado el operador para la sumatoria dentro los diferentes bucles
</div>

********Pista********

En el bucle `while`, debes comparar `total_amount_spent` (importe total gastado) con `target_amount` (importe objetivo). Durante cada iteraci√≥n del bucle, actualiza la variable `total_amount_spent` agreg√°ndole el valor `new_purchase`.

# Paso 7

Recorre la lista de usuarios que te hemos proporcionado y muestra los nombres de los clientes menores de 30 a√±os.

In [9]:
users = [['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
         ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
         ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
         ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
         ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
         ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
         ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
         ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
         ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
         ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]


for user in users: 
    if user[2] < 30:
        print(user)

['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]]
['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]]
['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]]
['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]]
['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]

********Pista********

Utiliza el bucle for para iterar sobre cada fila de la tabla. Utiliza `if` dentro de un bucle `for` para imprimir el nombre de usuario o usuaria. El campo `age` tiene el √≠ndice 2

<div class="alert alert-block alert-danger">
<b>Comentario del revisor (1ra Iteracion)</b> <a class=‚ÄútocSkip‚Äù></a>

No se est√° mostrando el resultado correcto. Debes mostrar los nombres y aqu√≠ est√°s mostrando la edad
</div>

<div class="alert alert-block alert-success">
<b>Comentario del revisor (2da Iteracion)</b> <a class=‚ÄútocSkip‚Äù></a>

Buen trabajo! Ahora se muestra los resultados seg√∫n el condicional
</div>

# Paso 8

Mostremos en pantalla los nombres de los usuarios menores de 30 a√±os que acumulan un gasto total superior a 1000 d√≥lares.

In [10]:
users = [['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
         ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
         ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
         ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
         ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
         ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
         ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
         ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
         ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
         ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

for user in users:
    age = user[2]
    total_spent = sum(user[4])
    
    if age < 30 and total_spent > 1000:
        print(user[1])

['samantha', 'smith']
['james', 'lee']

********Pista********

Utiliza el bucle for para iterar sobre cada fila de la tabla. Utiliza `if` dentro de un bucle `for` para imprimir el nombre de usuario o usuaria. El campo `age` tiene el √≠ndice 2. Utiliza la funci√≥n `sum` para sumar los gastos y luego comprueba si es mayor de 1000 d√≥lares.

<div class="alert alert-block alert-success">
<b>Comentario del revisor (1ra Iteracion)</b> <a class=‚ÄútocSkip‚Äù></a>

Correcto! El uso de condicionales es un paso importante para definir la l√≥gica en tus proyectos. 
</div>

# Paso 9

Ahora vamos a mostrar el nombre y la edad de todos los usuarios y todas las usuarias que han comprado ropa ("clothes"). Imprime el nombre y la edad en la misma declaraci√≥n print.

In [11]:
users = [['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
         ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
         ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
         ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
         ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
         ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
         ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
         ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
         ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
         ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

for user in users:
    first_name = user[1]
    age = user[2]
    categories = user[3]
   
    if 'clothes' in categories:
        print(first_name, age)

['kate', 'morgan'] 24
['samantha', 'smith'] 29
['maria', 'garcia'] 33
['lisa', 'wilson'] 35
['james', 'lee'] 28

********Pista********

Utiliza el bucle for para iterar sobre cada fila de la tabla. A continuaci√≥n, utiliza otro bucle para comprobar si este usuario ha comprado ropa ("clothes") y, en caso afirmativo, muestra el nombre y la edad dentro de la misma declaraci√≥n print, separ√°ndolos por comas: `print(firstname, age)`.

<div class="alert alert-block alert-success">
<b>Comentario del revisor (1ra Iteracion)</b> <a class=‚ÄútocSkip‚Äù></a>

Muy bien utilizado `in` para buscar dentro de la lista la categor√≠a correcta
</div>

# Paso 10

La direcci√≥n requiere de una funci√≥n que proporcione informaci√≥n sobre los clientes, incluyendo sus nombres, edades y gasto total, filtrada por categor√≠as espec√≠ficas. Con base en fragmentos de c√≥digo anteriores, crearemos una funci√≥n llamada `get_client_by_cat` con las siguientes especificaciones:

1. **Par√°metros:**
   - **users:** una lista con los datos de los usuarios.
   - **id_index:** el √≠ndice donde est√° almacenado el ID del cliente en la lista de usuarios.
   - **name_index:** el √≠ndice donde est√° almacenado el nombre del cliente en la lista de usuarios.
   - **age_index:** el √≠ndice donde la edad del cliente est√° almacenada en la lista de usuarios.
   - **category_index:** el √≠ndice donde las categor√≠as de compras del cliente est√°n listadas.
   - **amounts_index:** el √≠ndice donde las cantidades gastadas en cada categor√≠a est√°n almacenadas.
   - **filter_category:** un string que representa el nombre de la categor√≠a para filtrar clientes.

2. **Salida:**
   - La funci√≥n devuelve una lista de sublistas. Cada sublista contiene:
     - El n√∫mero ID del cliente.
     - Una sublista con el nombre y apellido del cliente.
     - La edad del cliente.
     - Un entero que representa la cantidad total gastada por el cliente.

Por ejemplo, si llamas a la funci√≥n con los siguientes par√°metros:


```python
get_client_by_cat([
    ['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]]
], 0, 1, 2, 3, 4, 'books')
```

La salida ser√°:

```python
[['32415', ['mike', 'reed'], 32, 1280]]
```

Esta salida muestra que el cliente con el ID '32415', llamado Mike Reed, de 32 a√±os, gast√≥ un total de 1280 en la categor√≠a 'books' y otras compras.

Despu√©s de hacer tu funci√≥n, ll√°mala pas√°ndole nuestra lista de usuarios, los √≠ndices adecuados y la categor√≠a 'home' y muestra en pantalla la lista que resulta.

In [12]:
def get_client_by_cat(users, id_index, name_index, age_index, category_index, amounts_index, filter_category):
    result = []
    
    for user in users:
        categories = user[category_index]
        if filter_category in categories:
            idx = categories.index(filter_category)
            total_spent = sum(user[amounts_index])
            
            result.append([user[id_index], user[name_index], user[age_index], total_spent])
    return result
    

# La lista de usuarios
users = [
    ['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
    ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
    ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
    ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
    ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
    ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
    ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
    ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
    ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
    ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]
]

# Llama a la funci√≥n con la categor√≠a 'home'
result = get_client_by_cat(users, 0, 1, 2, 3, 4, 'home')

print(result)

[['32156', ['john', 'doe'], 37, 678], ['32984', ['david', 'white'], 41, 806], ['33001', ['emily', 'brown'], 26, 951], ['33912', ['jose', 'martinez'], 22, 917], ['34009', ['lisa', 'wilson'], 35, 847]]

********Pista********

Utiliza un bucle for para iterar sobre cada usuario en la lista. Para cada usuario, verifica que la categor√≠a deseada ("filter_category") est√© en su lista de categor√≠as de compras. Si se encuentra la categor√≠a, calcula la cantidad total gastada sumando las cantidades en la lista correspondiente. Despu√©s, crea una sublista con el ID, nombre (como una lista de nombres y apellidos), edad y cantidad total gastada del usuario. A√±ade esta sublista a la lista final que resulta.

<div class="alert alert-block alert-info">
<b>Comentario general (1ra Iteracion)</b> <a class=‚ÄútocSkip‚Äù></a>
    

Hiciste un buen trabajo con tu proyecto aplicando Python! No olvides que la pr√°ctica ayuda mucho a profundizar y asimilar los temas visto en este proyecto.
<br>
<br>
Los condicionales, los bucles, los condicionales es algo que usar√°s en tu d√≠a a d√≠a al tener que usar Python para tus an√°lisis. En este proyecto aprendiste una herramienta importante c√≥mo son las funciones para poder evitar duplicado de c√≥digo en tus proyectos, ya que por ejemplo, si quisieras hacer ese mismo proceso en diferentes partes de tu proyecto pero con otros datos simplemente debes llamar la funci√≥n y pasarle los argumentos requeridos y obtendr√°s el proceso.
<br>
<br>
Hay un par de ejercicios que necesitan unos cambios para que proyecto est√© completo.
<br>
<br>
Un saludo! ü¶æ
</div>